/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#blog {
  /* padding: 0; */
  width: 100%;
  height: 80vh;
  margin-top: -1%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-left: auto;
  margin-right: auto; */
  /* position: relative; */
  /* background-size: 100% 90%; */
  /* background-repeat: no-repeat; */
}

.slide-container {
  margin-top: -1%;
}
#logoImage {
  width: 50%;
  margin: 0%;
  padding: 0%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}
#logoImage2 {
  width: 80%;
  margin: 0%;
  padding: 0%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  align-items: center;
  width: 100%;
  height: 80vh;
  position: relative;
  /* background: url("./PorflioImage.PNG") no-repeat; */
  background-size: cover;
  padding: 0;
  margin-top: -4%;
}

.react-slideshow-container .nav:hover {
  z-index: 10;
  position: absolute;
  cursor: pointer;
  background-color: yellow;
}
#logoImageTec {
  width: 25%;
  margin: 0%;
  padding: 0%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5%;
}

/*--------------------------------------------------------------
# YouNeedKollectit Section
--------------------------------------------------------------*/
#YouNeedKollectit {
  /* margin-top: -2%; */
  width: 100%;
  /* height: 70vh; */
  margin-top: 1%;
}

#YouNeedKollectit p {
  margin: 0 0 10px 0;
  font-size: 45px;
  font-weight: 600;
  line-height: 56px;
  color: black;
}

#YouNeedKollectit h2 {
  color: #484848;
  margin-bottom: 50px;
  /* font-size: 20px; */
}

#KOLLECTITfooter {
  margin-top: 20%;
}

/* #YouNeedKollectit .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  } */

@media (min-width: 1024px) {
  #YouNeedKollectit {
    background-attachment: fixed;
  }

  #KOLLECTITfooter {
    margin-top: 20%;
  }
}

@media (max-width: 991px) {
  #YouNeedKollectit {
    height: 100vh;
  }

  #YouNeedKollectit .animated {
    -webkit-animation: none;
    animation: none;
  }

  #YouNeedKollectit .YouNeedKollectit-img {
    text-align: center;
  }

  #YouNeedKollectit .YouNeedKollectit-img img {
    width: 50%;
  }

  #blog {
    align-items: center;
  }

  #logoImage {
    /* margin-top: 7%; */
    width: 90%;
    /* height: 35%; */
    align-items: center;
  }
  #logoImageTec {
    margin-top: 7%;
    width: 80%;
    align-items: center;
  }

  #reverseImage {
    /* background-color: #484848; */
    display: flex;
    flex-direction: column-reverse;
  }
  #reverseImageText {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  #YouNeedKollectit {
    margin-top: 50%;
  }

  #YouNeedKollectit h1 {
    /* font-size: 28px; */
    line-height: 36px;
  }

  #YouNeedKollectit h2 {
    /* font-size: 18px; */
    line-height: 24px;
    margin-bottom: 30px;
  }

  #YouNeedKollectit .YouNeedKollectit-img img {
    width: 70%;
  }

  #KOLLECTITfooter {
    margin-top: 140%;
  }
}

@media (max-width: 575px) {
  #KOLLECTITfooter {
    margin-top: 100%;
  }

  #YouNeedKollectit .YouNeedKollectit-img img {
    width: 80%;
  }
}


