/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 55vh;
  margin-top: 5%;
  /* margin-top: -2%; */
}

/* 
#hero p {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

#hero h2 {
  color: #484848;
  margin-bottom: 50px;
  font-size: 24px;
} */

#SplashImage {
  /* padding: 0; */
  /* width: 100%; */
  /* height: 50vh; */
  /* position: relative; */
  /* background-size: 100% 90%; */
  /* background-repeat: no-repeat; */
  margin-top: -1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-left: 23%;
}

#newImageSize {
  width: 40%;
  /* margin: 2%; */
  /* height: 100%; */
}

#newImageSizethree {
  width: 32%;
  /* margin: 2%; */
  height: 90%;
  margin-bottom: 1%;
}

#newImageSizeThree {
  width: 30%;
  /* height: 90%; */
}

#SlideImage {
  /* width: "70%", margin: 5, padding: 5, marginLeft: "auto", marginRight: "auto"  */
  width: 70%;
  margin: 5;
  padding: 5;
  /* background-color: yellowgreen; */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  /* margin-right: 10%; */
}

#howItWork:hover {
  /* width: "70%", margin: 5, padding: 5, marginLeft: "auto", marginRight: "auto"  */

  /* width: 70%; */
  /* margin: 5; */
  background-color: #578b9d;
  /* background-color: rgba(20, 4, 4, 0.342) !important; */
  /* padding: 5; */
  width: 100%;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}


.nav-tabs .nav-link {
  padding: 17px 15px 16px;
}

#howItWorkRider:hover {
  /* width: "70%", margin: 5, padding: 5, marginLeft: "auto", marginRight: "auto"  */

  /* width: 70%; */
  /* margin: 5; */
  /* background-color: #D6DCE5; */
  background-color: #578c9dc5;
  color: #f0f2f5;
  /* background-color: rgba(20, 4, 4, 0.342) !important; */
  /* padding: 5; */
  width: 100%;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

/* #newImageSize:hover { */
/* background-color: yellow; */
/* border: 2px solid red; */
/* } */

#cardH {
  height: 100%;
  width: 60%;
}

#ImageSliderRes {
  margin-left: 4%;
  margin-right: 4%;
  background-color: #e4e4e4;
  margin-top: -2%;
  margin-bottom: -2%;
  /* margin: 5%; */
}

#CoursalImage {
  align-items: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* display: block; */
}

#CoursalImageSize {
  margin-left: auto;
  width: 70%;
  margin-right: auto;
  display: block;
}

#CoursalImageMobileView {
  display: none;
}

/* width="100%" style={{ alignItems: "center", marginLeft: "auto", marginRight: "auto", display: "block" }} */

#howItWorkRider {
  height: 80% !important;
  margin-top: 6%;
  background-color: #f0f2f5;
  /* background-color: red; */
}

/* #ImageSliderRes */

#ContentRiderPragraf {
  color: "#134D61";
  font-weight: 500;
  font-size: 25px;
}

@media (max-width: 991px) {
  /* #BoxReverse {
    background-color: #11366B;
  } */

  #CoursalImageSize {
    width: 100%;

    /* display: none; */
    background: url("https://static.pakwheels.com/2022/09/Ferrari-Purosangue-revealed-11-scaled.jpg");
  }

  #CoursalImageMobileView {
    display: unset;
    width: 100%;
  }

  #SlideImage {
    /* width: "70%", margin: 5, padding: 5, marginLeft: "auto", marginRight: "auto"  */
    width: 90%;
    margin: 5;
    padding: 5;
    height: 100%;
    /* background-color: #11366B; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  /* #hero {
    height: 100vh;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  } */

  #rider {
    /* background-color: #F0F2F5; */
    /* background-color: yellowgreen; */
    height: 70% !important;
    text-align: left;
    /* margin-left: -5%; */
    /* margin-right: -3%; */
  }

  #ContentRider {
    margin-top: 15%;
    margin-bottom: -33%;
    /* background-color: #F0F2F5; */
    /* background-color: aquamarine; */
    height: 30rem;
    margin-left: 0px !important;
    /* margin: 1px; */
    padding: 1px;
  }

  #ContentRiderPragraf {
    color: "#134D61";
    font-weight: 500;
    font-size: 25px;
    line-height: 2rem;
    margin-bottom: 1%;
    margin-top: 1%;
  }

  /* style={{ color: "#134D61", fontWeight: 500, fontSize: 30, marginTop: "0%", marginBottom: "1%" }} */
}

/* #slideImage {
  margin-left: 15%;
} */

#ImgeSize {
  width: 70%;
  margin-left: 10%;
}

#Splash {
  width: 20%;
  /* margin-left: 10%; */
}

#ImgeSizeRight {
  width: 70%;
  /* margin-right: 5%; */
}

#leftContent {
  margin-left: 15%;
}

.ImgeSizeClass {
  margin-left: 15%;
}

@media (max-width: 768px) {
  /* #hero {
    margin-top: -30px;
  } */

  /* #SlideImage { */
  /* background-color: #c59191; */
  /* } */

  #howItWork:hover {
    background-color: #578b9d;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 93%;
    /* margin-top: -5%; */
  }

  #ImageSliderRes {
    /* background-color: palegreen; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #BoxReverse {
    background-color: #11366b;
    /* mar */
  }

  #howItWorkContain {
    background-color: #11366b;

    /* color: red; */
    /* display: flex ; */
    flex-direction: column-reverse;
  }

  /* #ReverseTop{
  } */
  #textCenter {
    text-align: center;
  }

  #slideImage {
    margin-left: 0%;
    width: 85%;
  }

  #ImgeSize {
    width: 100%;
    /* margin-left: -5%; */
    margin-left: auto;
    margin-right: auto;
  }

  #Splash {
    width: 50%;
    /* margin-left: -5%; */
    margin-left: auto;
    margin-right: auto;
  }

  #ImgeSizeRight {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-right: 5%; */
  }

  #heroContain {
    margin-top: -45%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 55%; */
  }

  #leftContent {
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5%;
    padding: 2%; */
    margin-bottom: -30%;
    margin-top: 6%;
    padding: 5%;
    /* background-color: #11366B; */
  }

  /* #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  } */

  #ladiesImage {
    width: 100%;
    margin-left: 0%;
  }

  /* #hero .hero-img img {
    width: 70%;
  } */

  #SplashImage {
    /* padding: 0; */
    width: 100%;
    /* height: 50vh; */
    /* position: relative; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    /* background-color: #11366B; */
  }

  #AddContainer {
    background: "white";
    margin-top: "-35%";
    padding: "5px";
    margin: "5px";
  }

  #newImageSizeThree {
    width: 28%;
    /* height: 80%; */
    margin-top: 9%;
    margin-bottom: 10%;
  }

  #newImageSize {
    width: 40%;
    height: 80%;
    background-color: #11366b;
    margin: 2%;
  }

  #newImageSizethree {
    width: 40%;
    height: 80%;
    background-color: #11366b;
    margin: 2%;
  }

  #HeadeingCashier {
    margin-top: 15%;
  }
}

@media (max-width: 575px) {
  /* #hero .hero-img img {
    width: 80%;
  } */
}

/* .howItWork {
  background-color: #11366B;
} */

/*--------------------------------------------------------------
# sponsor
--------------------------------------------------------------*/

/* section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}



.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #11366B;
}

.section-title h2 span {
  color: #ffb03b;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
} */

#ladiesImage {
  width: 90%;
  margin-left: 10%;
}

.react-slideshow-container .default-nav {
  background-color: rgba(27, 27, 27, 0.253) !important;
  padding: 0% !important;
  margin: 0% !important;
  margin-left: -10% !important;
  margin-right: -10% !important;
  /* display: none !important; */
}

/* .react-slideshow-container .default-nav:focus {
  background-color: rgba(27, 27, 27, 0.253) !important;
  padding: 0% !important;
  margin: 0% !important;
  display: unset !important;
background-color: red !important;

} */

#howItWork .react-slideshow-container .nav :hover {
  background-color: #11366b;
  display: unset !important;
}

/* .react-slideshow-container .default-nav:last-of-type {
  display: none;
} */

/* .react-slideshow-container .default-nav { */

.react-slideshow-container .nav :hover {
  height: 30px;
  background: rgba(104, 83, 83, 0.486) !important;
  width: 30px;
  border: 0;
  text-align: center;
  color: #c59191;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: unset !important;
}

#ArrorButton {
  background-color: none;
  border: "0px" !important;
  width: "30px" !important;
  padding: 0;
  /* marginLeft: "auto",
  marginRight: 'auto', */
}
